@font-face{
   font-family:"Roman";
   src:url(/fonts/AvenirLTStd-Roman.woff);
}

/*------------------------RESET------------------------*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
   border:0;
   font-size:100%;
   font:inherit;
   margin:0;
   padding:0;
   vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
   background:#fff;
   color:#1D252C;
   font-family:'Poppins',sans-serif;
   font-size:16px;
   line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{
   font:16px/23px'Poppins';
   color:#56B280;
}
img{width:100%;}
a,
a:hover{
   color:#000;
   text-decoration:none;
   cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
   border:0;
   border-bottom:1px solid #000;
   color:#1D252C;
   padding:8px 0;
   font:16px 'Poppins',sans-serif;
   background:transparent;
   width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
   font:20.65px 'Roboto',sans-serif;
   border:0;
   padding:0;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}
/*------------------------END RESET------------------------*/

/* Navigation Bar */
nav {
   background:#fff;
   padding:10px;
   z-index:9999;
   position:fixed;
   width: 100%;

}

.second-button{display:none;}
.testimonials img,
nav img{
   width:fit-content;
}
.arrow li {
   gap:88px;
   max-width:387px;
   max-height:25px;
   padding:0 20px;
}
.gap-3 li:last-child{
   padding-top:3px;
}
.arrow p::after{
   content:"";
   border:solid black;
   border-width:0 2px 2px 0;
   display:inline-block;
   padding:3px;
   transform:rotate(45deg);
   transition:.3s ease all;
}
nav .arrow{
   position:relative;
   display:flex;
}
nav .submenu{
   background:#fff;
   position:absolute;
   display:none;
   top:30px;
   left:20px;
   z-index:9;
}
.submenu li{
   padding-bottom:20px;
}
.arrow p:hover{
   cursor:pointer;
}
.arrow p.close::after{
   transform:rotate(135deg) scaleX(-1);
}
.open li{
   padding:10px 0 0;
}
/* Banner HomePage */
section .position-absolute {
   max-width:730px;
   max-height:349px;
   background:rgba(247, 248, 250, 0.8);
   border-radius:2px;
   padding-bottom:63px;
}
/* Card + Buttom if Banner */
.banner_box{
   padding:35px 95px 45px;
}
h2 {
   font:40px/58px 'Poppins';
}
.banner_box p {
   font-family:Helvetica, sans-serif;
}
a.btn {
   background:#56B280;
   color:#fff;
}
/* Main Content */
.products_text{
   padding:90px 40px 0;
   color:#5E6E89;
}
.products{
   padding:70px 0 125px;
   margin:0;
}
.products_text,
.popular_products h2{
   color:#0B254B;
}
.products_text .btn{
   display:none;
}
h5{
   color:#1D293F
}
h4{
   font:20px/28px 'Roboto';
   text-align:right;
   color:#56B280
}
.moviment{
   border-radius:0;
   border:0;
   margin-bottom:10px;
   background:#F8F9F9;
   transition:.8s ease all;
}
.moviment:hover{
   box-shadow:10px 5px 5px #000;
   margin-top:-20px;
}
.card-body{
   background:#fff
}
/* Benefits + Banner*/
.benefits{
   background:#F7F8FA;
}
.benefits .justify-content-between{
   padding:120px 103px;
}
.benefits h2{
   max-width:350px;
   line-height:47px;
   padding-bottom:15px;
}
.benefits ul{
   font:16px/29px 'Poppins';
   color:#000;
   padding:38px 0 68px;
   line-height:35px;
}
/* Testimonials */
.testimonials{
   padding:0 40px;
   background: rgba(86, 178, 128, 0.1);
}
.testimonials_text {
   padding:90px 0 30px;
}
.perfil{
   align-items:center;
   border-radius:6px;
   border:0;
   background:#F8F9F9;
   text-align:center;
   height:295px;
   margin-bottom:90px;
}
.perfil h5{
   padding-top:10px;
   color:#7C8087;
}
h6{
   max-width:304px;
   padding-top:20px;
   font-size:22px;
   line-height:30px;
   color:#1D293F;
}


/* Navigation Footer */
footer img{
   width:fit-content;
}
.footer_line{
   background:#272727;
   max-height:383px;
   padding:76px 165px;
}
.nav_footer{
   border-top:1px solid #fff;
   color:#fff;
}
.logo_footer{
   padding-top:20px;
   max-width:270px;
}
.logo_footer figcaption{
   padding-top:10px;
   line-height:20px;
}
.list h3{
   padding:20px 0 30px;
}
.list{
   padding-left:40px;
}
.list li a{
   color:#fff;
}
.list li{
   padding:0 0 50px;
}
.copy{
   background:#fff;
   font-family:'Roman';
   color:#5E6E89;
   padding:25px 0;
   height:80px;
}


/* SMARTPHONE */
@media screen and (max-width:768px){
   
   header{
      justify-content:space-around;
   }
   .second-button{
      display:block;
      width:30px;
   }
   .animated-icon2{
      width:30px;
      height:20px;
      position:relative;
      margin:0px;
      transform:rotate(0deg);
      transition:.5s ease-in-out;
      cursor:pointer;
   }
   .animated-icon2 span{
      display:block;
      position:absolute;
      height:3px;
      width:100%;
      background:#000;
      border-radius:9px;
      opacity:1;
      left:0;
      transform:rotate(0deg);
      transition:.25s ease-in-out;
   }
   .animated-icon2 span:nth-child(1){
      top:0px;
   }
   .animated-icon2 span:nth-child(2),
   .animated-icon2 span:nth-child(3){
      top:10px;
   }
   .animated-icon2 span:nth-child(4){
      top:20px;
   } 
   .animated-icon2.open span:nth-child(1){
      top:11px;
      width:0%;
      left:50%;
   }
   .animated-icon2.open span:nth-child(2){
      transform:rotate(45deg);
   }
   .animated-icon2.open span:nth-child(3){
      transform:rotate(-45deg);
   } 
   .animated-icon2.open span:nth-child(4){
      top:11px;
      width:0%;
      left:50%;
   }
   nav{
      padding:30px 25px;
   }
   nav ul{
      position:absolute;
      left:0;
      top:100%;
      z-index:99;
      padding:10px;
   }
   #dropdown {
      position: absolute !important;
      display:none;
      top:75px;
      left:0;
      height:175px;
      background: #fff;
      text-align:left;
   }
   nav figure {
      position:absolute;
      top:25px;
      right:155px;
   }
   nav li{
      margin:30px 0;
   }
   nav .costumer {
      position:absolute;
      top:-15px;
      right:50px;
   }
   .banner_box {
      padding:10px 0;
   }
   .products {
      padding:70px 0 50px;
      margin:0;
   }
   .products_text button{
      display:block;
      padding:0;
   }
   .products_text{
      position:relative;
      padding:90px 0 70px;
   }
   .ocult{display:none;}
   .moviment:hover{
      transform:none;
      translate:none;
      margin:0 0 10px
   }
   .shadow-lg{
      box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
   }
   .moviment{
      height:auto;
      transition:none;
   }
   .card{
      position:relative;
      overflow:hidden;
      height:200px;
   }
   .card-body{
      position:absolute;
      top:140px;
      left:-1px;
      width:102%;
      padding-bottom:0px;
   }
   .card-title{
      margin:0;
   }
   .products_text .btn {
      display: block;
   }
   .benefits .justify-content-between {
      position:relative;
      padding:120px 0;
   }
   .benefits img{
      position:absolute;
      top:22%;
   }
   .benefits ul {
      padding:330px 0 68px;
   }
   .benefits h2{
      align-self:center;
      text-align:center;
      padding-bottom:15px;
      max-width:100%;
   }
   .benefits p{
      align-self:center;
      text-align:center;
   }
   /* testimonials mobile */
   .justify-content-around.slids {
      overflow-x: scroll;
      display: flex !important;
      flex-direction: row;
      flex-wrap: nowrap !important;
      justify-content: flex-start !important;
   }

   /* Navigation Footer */
   .footer_line{
      padding:40px 10px;
      max-height:none;
   }
   .nav_footer{
      border-top:1px solid #fff;
      color:#fff;
   }
   .logo_footer{
      padding-top:20px;
      max-width:none;
   }
   .logo_footer figcaption{
      padding-top:10px;
      line-height:20px;
   }
   .list h3{
      padding:50px 0 20px;
   }
   .list{
      padding:0;
   }
   .list li a{
      color:#fff;
   }
   .list li{
      padding:0 0 20px;
   }
   .smart_wrap{
      flex-wrap:wrap;
      justify-content:space-between;
   }
   .smart_wrap > :nth-child(1) {order:1;}
   .smart_wrap > :nth-child(2) {order:3;}
   .smart_wrap > :nth-child(3) {order:2;}
   .copy{
      padding:25px 0;
      height:auto;
   }
   .copy :last-child{
      display:none;
   }
   nav .submenu{
      left:125px;
   }
   .arrow p.close::after{
      transform:rotate(220deg) scaleX(-1);
   }
}