@font-face{
   font-family:"Roman";
   src:url(/fonts/AvenirLTStd-Roman.woff);
}

/*------------------------RESET------------------------*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
   border:0;
   font-size:100%;
   font:inherit;
   margin:0;
   padding:0;
   vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
   background:#fff;
   color:#1D252C;
   font-family:'Poppins',sans-serif;
   font-size:16px;
   line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{
   font:16px/23px'Poppins';
   color:#56B280;
}
img{width:100%;}
a,
a:hover{
   color:#000;
   text-decoration:none;
   cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
   border:0;
   border-bottom:1px solid #000;
   color:#1D252C;
   padding:8px 0;
   font:16px 'Poppins',sans-serif;
   background:transparent;
   width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
   font:20.65px 'Roboto',sans-serif;
   border:0;
   padding:0;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}
/*------------------------END RESET------------------------*/

.container {
   max-width:1440px;
   padding:0;
}
/* Navigation Bar */
nav {
   max-height:75px;
   background: #fff;
}
.benefits img,
.testimonials img,
nav img{
   width:fit-content;
}
.justify-content-between li {
   gap:88px;
   max-width:387px;
   max-height:25px;
   padding:0 20px;
}
.arrow p::after{
   content:"";
   border:solid black;
   border-width:0 2px 2px 0;
   display:inline-block;
   padding:3px;
   transform:rotate(45deg);
   transition:.3s ease all;
}
menu .arrow{
   position:relative;
}
menu .submenu{
   background:#fff;
   position:absolute;
   display:none;
   top:45px;
   left:0;
}
.arrow p:hover{
   cursor:pointer;
}
.arrow p.close::after{
   transform:rotate(135deg) scaleX(-1);
}
.open li{
   padding:10px 0 0;
}
.justify-content-evenly li {
   gap:20px;
   max-width:80px;
   padding:0 10px; 
}
.justify-content-evenly li:last-child{
   padding-top:3px;
}
/* Banner HomePage */
section .position-absolute {
   max-width:730px;
   max-height:349px;
   background:rgba(247, 248, 250, 0.8);
   border-radius:2px;
   padding-bottom:63px;
}
/* Card + Buttom if Banner */
.banner_box{
   max-width:540px;
   max-height:168px;
   margin:35px 95px 45px;
}
h2 {
   font:40px/58px 'Poppins';
}
.banner_box p {
   font-family:Helvetica, sans-serif;
}
a.btn {
   max-height:40px;
   max-width:310px;
   border-radius:4px;
   background:#56B280;
   color:#fff;
}
/* Main Content */
.products_text{
   padding:90px 165px 0;
   color:#5E6E89;
}
.products{
   margin:60px 0 125px;
}
.products_text,
.popular_products h2{
   color:#0B254B;
}
h5{
   color:#1D293F
}
h4{
   font:28px/28px 'Roboto';
   text-align:right;
   color:#56B280
}
.moviment{
   border-radius:0;
   border:0;
   margin-bottom:10px;
   background:#F8F9F9;
   transition:.8s ease all;
}
.moviment:hover{
   box-shadow:10px 5px 5px #000;
   margin-top:-20px;
}
.card-body{
   background:#fff
}
/* Benefits + Banner*/
.benefits{
   display:flex;
   background:#F7F8FA;
}
.benefits article{
   padding-top:132px;
   padding-left:171px;
}
.benefits h2{
   max-width:350px;
   line-height:47px;
   padding-bottom:15px;
}
.benefits ul{
   font:16px/29px 'Poppins';
   color:#000;
   padding:38px 0 68px;
   line-height:35px;
}
.benefits figure{
   margin:120px 0 120px 65px;
}
/* Testimonials */
.testimonials{
   background: rgba(86, 178, 128, 0.1);
}
.testimonials_text {
   padding:90px 0 30px;
}
.perfil{
   align-items:center;
   border-radius:6px;
   border:0;
   margin-bottom:10px;
   background:#F8F9F9;
   text-align:center;
   height:295px;
   width:350px;
   margin-bottom:90px;
}
.perfil h5{
   padding-top:10px;
   color:#7C8087;
}
h6{
   max-width:304px;
   padding-top:20px;
   font-size:22px;
   line-height:30px;
   color:#1D293F;
}
/* Navigation Footer */
footer.container{
   background:#272727;
   max-height:383px;
   padding:76px 165px 0;
   color:#fff;
}
footer img{
   width:fit-content;
}
.nav_footer{
   border-top:1px solid #fff;
   padding-bottom:83px;
}
.logo_footer{
   padding-top:20px;
   max-width:270px;
}
.logo_footer figcaption{
   padding-top:10px;
   line-height:20px;
}
.list h3{
   padding:25px 0;
}
.list{
   padding-left:40px;
}
.list li a{
   color:#fff;
}
.list li{
   padding:0 0 50px;
}
.copy{
   background:#fff;
   font-family:'Roman';
   color:#5E6E89;
   padding:25px 0;
   height:80px;
}
/* CELULAR
@media screen and (max-width:600px){
   body{
      background:#900;
   }
} */